<ul class="buttons-section" id="top-toolbar">
    <li>
        <button (click)="downloadXML()" class="btn fx-btn-action" title="download script as xml file">
            <i class="fa-solid fa-download"></i>
            <br>
            <span>Download</span>
        </button>
    </li>
    <li>
        <button (click)="viewXML()" class="btn fx-btn-action " title="deploy script">
            <i class="fa-solid fa-upload"></i>
            <br>
            <span>Deploy</span>
        </button>
    </li>
    <li>
        <button (click)="resetXML()" class="btn fx-btn-action" title="reset editor">
            <i class="fa-solid fa-eraser"></i>
            <br>
            <span>Reset</span>
        </button>
    </li>
    <li>
        <button (click)="undoAction()" class="btn fx-btn-action" title="undo the last action">
            <i class="fa-solid fa-rotate-left"></i>
            <br>
            <span>Undo</span>
        </button>
    </li>
    <li>
        <button (click)="redoAction()" class="btn fx-btn-action" title="redo the last action">
            <i class="fa-solid fa-rotate-right"></i>
            <br>
            <span>Redo</span>
        </button>
    </li>
    <li>
        <button (click)="fitAction()" class="btn fx-btn-action" title="redo the last action">
            <i class="fa-solid fa-expand"></i>
            <br>
            <span>Fit</span>
        </button>
    </li>
</ul>