.djs-popup-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body{
    height: 100%;
    margin: 0;
}

.djs-popup-backdrop {
	position: unset !important;
}

.djs-minimap {
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 590px;
	z-index: 999;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);
	border: solid 1px #1a1a1a;
	border-radius: 10px;
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.djs-minimap:not(.open) {
	overflow: hidden;
}
.djs-minimap:not(.open) .toggle {
	padding: 5px;
	text-align: center;
}
.djs-minimap:not(.open) .viewport-dom {
	display: none;
}
.djs-minimap .map {
	display: none;
	width: 320px;
	height: 180px;
	cursor: crosshair;
}
.djs-minimap.open .map {
	display: block;
}
.djs-minimap.open .toggle {
	position: absolute;
	right: 0;
	padding: 6px;
	z-index: 1;
}
.djs-minimap.open .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.2);
	pointer-events: none;
}
.djs-minimap .toggle:before {
	content: attr(title);
}
.djs-minimap .viewport {
	fill: none;
	stroke: none;
}
.djs-minimap .viewport-dom {
	position: absolute;
	border: solid 2px orange;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: move;
}
.djs-minimap .cursor-crosshair {
	cursor: crosshair;
}
.djs-minimap .cursor-move {
	cursor: move;
}

.djs-minimap.open .toggle:before {
	content: '\f00d'; 
  	font-family: 'Font Awesome 5 Free';
}

.djs-minimap:not(.open) .toggle:before {
	content: "\f279";
  	font-family: 'Font Awesome 5 Free';
}